.Nav-Player{
    @apply my-6 py-4;
    border-top:0.5px solid rgba(255, 255, 255, 0.24);
}

.Player-control{
    @apply bg-gray-400 h-1 w-28 relative ;

}
.Player-control span{
    @apply absolute bg-green-500 h-1 w-4/6;
}

.Player-control span::before{
   position: absolute;
   top: 50%;
   right: 0;
   content: '';
   width: 5px;
   height: 15px;
   background-color: rgb(255, 255, 255);
   transform: translateY(-50%);

}
