.MusicList-List{
    @apply overflow-y-scroll scroll-smooth h-80 text-white;
    scrollbar-width: none;
}
.MusicList-List .active{
    @apply text-green-500;
}
.MusicList-List li:hover{
    background-image: linear-gradient(to right,#fff, rgba(0, 0, 0, 0.422), rgba(255, 255, 255, 0.449),rgba(0, 0, 0, 0.422),#fff)
}
.MusicList-ListItem{
    @apply  flex justify-between items-center my-4 pr-6 py-2;
}